body{
    margin: 0;
    padding: 0;
    background: url(sn.jpg);
}
.box{
    width: 500px;
    background: #48a6e088;
    padding: 90px;
    text-align: center;
    margin: auto;
    margin-top: 9%;
    color: #fff;
    font-family: sans-serif;
}